.header :global(.container) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding-block-start: 1.5rem;
}

.header-options-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

@media (max-width: 768px) {
  .header :global(.container) {
    flex-direction: column;
  }
}
